<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735607608223-b3km1n6vmdegdmk8mc9jscpmsvihpdmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735607608223-b3km1n6vmdegdmk8mc9jscpmsvihpdmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDzHfgNlgs9T4BM8zLaFI51CGVJ5f-GWZY</string>
	<key>GCM_SENDER_ID</key>
	<string>735607608223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.basic.app.chatAppBasic</string>
	<key>PROJECT_ID</key>
	<string>chat-14a44-kurooon</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-14a44-kurooon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735607608223:ios:2a69a465aaf9b90dd7e3aa</string>
</dict>
</plist>